.text{
    padding: 90px;
    font-family: poppins;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;

}

.second ul li a{
  
    color: rgb(255, 248, 248);
    text-decoration: underline;
  
 }